*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    place-items: center;
    text-align: center;
    background-image: url('smooth.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.passwordcontainer{
background-color: black;
opacity: 0.8;
color:white;
width:30%;
margin-top: 18%;
margin-left: 35%;
height:300px;
border-radius: 50px;
padding:40px;
}
h3{
    margin-bottom: 30px;
    font-size: 2rem;
}
.username{
    margin-top:20px;
}
hr{
    margin-bottom: 20px;
    margin-top: 3px;
}
input{
    border-radius: 5px;
    transition:width 1s ease-in-out;
    width:150px;
    padding:3px;
    cursor:pointer;background-color: transparent;
}
input:focus{
    width:200px;
    background-color: white;
}
button{
    width:120px;
    height:40px;
    background-color:darkblue;
    color:whitesmoke;
    border-radius: 10px;
    cursor:pointer;
}
#btn2{
    display:none;
}